@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-bright-red: hsl(12, 88%, 59%);
  --color-bright-red-light: hsl(12, 88%, 69%);
  --color-bright-red-sup-light: hsl(12, 88%, 95%);
  --color-very-pale-red: hsl(13, 100%, 96%);
  --color-dark-blue: hsl(228, 39%, 23%);
  --color-dark-grayish-blue: hsl(227, 12%, 61%);
  --color-very-dark-blue: hsl(233, 12%, 13%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 130% -15%;
}
.testimonials {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: -700px 0;
}
.cta {
  background-image: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  body {
    background-position: 180px -10%;
  }
  .cta {
    background-image: url("../images/bg-simplify-section-mobile.svg");
  }
}
.hamburger-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 10px;
}
.menu.show {
  display: flex;
  top: 80px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.01)
  );
  z-index: 10;
  top: 0;
  left: 0;
}
.email-input.error {
  border: 1px red solid;
  color: red;
}
